/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set global font and background */
body {
    font-family: "Cascadia Code", sans-serif;
    background-color: #111111;
    color: #999999;
    line-height: 1.6;
}

/* Style the navigation */
header {
    background: #111111;
    color: #999999;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    transition: color 0.3s ease;
    color: #999999;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--primary-color);
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}

/* Main content styling */
main {
    animation: fadeIn 1s ease-in;

    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background: #111111;
    border-radius: 8px;
    box-shadow: 0 0 10px #999999;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    background: #111111;
    color: #999999;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.floating {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

section {
    text-align: center;
    margin-top: 40px;
}